td{
    width: 10%;
    text-align: center;
    border: 1px solid black;
}
tr{
    width: 100%;
    border: 1px solid black;
}
table{
    max-width: 100%;
    border: 1px solid black;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: white;
    margin:0;
}

img{
    max-width: 200px;
    height: auto;
}
input{
    display: block;
}

#div-cadastro{
    float: left;
    width: 40%;
}

#div-catalogo{
    max-width: 50%;
}